.biografia{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
   h2{
    text-decoration: underline;
    border: none;
   }
   .parrafo{
    border: none;
   }
}

