.botonVerde{
   @include boton($backBoton: green, $colorBoton: rgb(74, 233, 74));
}

.botonRosa{
   @extend %botonDefault;
   background-color: rgb(228, 34, 218);
   color: rgb(246, 172, 248)
}

.botonAzul{
   @include boton ($backBoton: blue, $colorBoton: skyblue);
}

.botonRojo{
   @extend %botonDefault;
   background-color: rgb(255, 9, 9);
   color: rgb(231, 139, 139);

}