footer{
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin: 0px;
    .pieDePagina__link{
        background-color: black;
        color: white;
     }
}

@media screen and (min-width: 320px) and (max-width:580px) {
    footer{
        width: 100%
        }
    }

