footer{
    grid-area: footer;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding: 20px;
    margin: 0px;
    .pieDePagina__link{
        background-color: black;
        color: white;
     }
}

