.principal{
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .principal__preview{
        border: none;
        background-color: black;
        border-style: solid;
        border-color: white;
        border-radius: 05px;
        width: 300px;
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin: 10px;
        .preview__contenido{
            background-color: black;
            color: white;
            font-size: 22px;
            text-align: center;
            h3{
              text-decoration: underline;
                .boton{
                  @extend %botonDefault;
            
               } 
             }
         }
       
    }
}

@media screen and (min-width: 320px) and (max-width: 580px ) {

    .principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .principal__preview{
        width: 100%;
        }

    .preview__contenido{
        width: 100%;
    }
    
}






