$colors: (
    backgroundCabecera:blueviolet,
    colorCabecera: white,
    backgroundUl:grey,
    colorLi:rgb(241, 178, 236),
);

$sizes: (
    fontH1: 50px,
    widthUl: 600px,
    paddingUl: 30px,
    fontHover: 22px,
);