* {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: pink;
}

.botonVerde {
  border: solid;
  padding: 10px;
  font-weight: bold;
  font-size: 23px;
  text-decoration: underline;
  font-style: italic;
  background-color: green;
  color: rgb(74, 233, 74);
}

.botonRosa {
  background-color: rgb(228, 34, 218);
  color: rgb(246, 172, 248);
}

.botonAzul {
  border: solid;
  padding: 10px;
  font-weight: bold;
  font-size: 23px;
  text-decoration: underline;
  font-style: italic;
  background-color: blue;
  color: skyblue;
}

.botonRojo {
  background-color: rgb(245, 16, 16);
  color: rgb(238, 121, 121);
}

.mainFotos {
  text-align: center;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
}
.mainFotos .imagenGaleria {
  margin: 20px;
  transition: all 1s;
}
.mainFotos .imagenGaleria:hover {
  width: 600px;
  height: 600px;
}

.formulario,
fieldset,
label,
input,
legend,
select,
option,
textarea {
  text-align: center;
  font-weight: bold;
  background-color: rgb(88, 5, 77);
  color: white;
  font-size: 20px;
  margin: 12px;
}

.tabla {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-weight: bold;
  padding: 60px;
  font-size: 30px;
}

.biografia {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.biografia h2 {
  text-decoration: underline;
  border: none;
}
.biografia .parrafo {
  border: none;
}

.principal .principal__preview .boton, .botonRosa, .botonRojo {
  border: solid;
  padding: 10px;
  font-weight: bold;
  font-size: 23px;
  text-decoration: underline;
  font-style: italic;
}

.cabecera {
  grid-area: cabecera;
  background-color: blueviolet;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.cabecera h1 {
  text-decoration: underline;
  font-size: 50px;
}
.cabecera ul {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  list-style: none;
  margin: 0%;
  padding: 30px;
}
.cabecera li a {
  padding: 8px;
  background-color: blueviolet;
  color: rgb(241, 178, 236);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s;
}
.cabecera li a:hover {
  background-color: black;
  font-size: 22px;
  padding: 20px;
  color: white;
}

.principal {
  grid-area: main;
  background-color: grey;
  border-style: solid;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.principal .principal__preview {
  border: none;
  background-color: black;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 10px;
}
.principal .principal__preview .preview__contenido {
  background-color: black;
  color: white;
  font-size: 22px;
  text-align: center;
}
.principal .principal__preview h3 {
  text-decoration: underline;
}
footer {
  grid-area: footer;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  padding: 20px;
  margin: 0px;
}
footer .pieDePagina__link {
  background-color: black;
  color: white;
}

#grilla {
  display: grid;
  grid-template-areas: "cabecera" "main" "footer";
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  height: 100vh;
}

/*
@media screen and (max-width: 576px) {

    #grilla{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 10px;
    height: 100vh;
}   
header{
    grid-area: cabecera;
    display:flex;
    flex-direction: column;
    padding: 10px;
}

.logo{
    width: 60px;
    height: 60px;
}
h1{
    text-decoration: underline;
    font-size: 18px;
    margin-left: 10px;
}

.cabecera{
    background-color: darkmagenta;
    color: white;
}


.navLinks{
    background-color: rgb(222, 149, 224);
    display: flex;
    flex-wrap: wrap;
    padding: 02px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border-style: none;
    padding: 03px;
}

nav ul{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 250px;
    list-style: none;
    margin: 0%;
    padding: 05px;
    border-style: none;
    height: 55px;

}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal__preview{
    border: none;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 05px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 10px;
}

h3{
    text-decoration: underline;
}

.preview__contenido{
    background-color: black;
    color: white;
    font-size: 22px;
    text-align: center;
}

.boton{
    background-color: blueviolet;
    color: pink;
    border: solid;
    border-radius: 2px;
    padding: 10px;
    font-weight: bold;
}

.pieDePagina{
    font-size: 15px ;
    padding: 10px;
}

.biografia{
    font-size: 20px;
}

.imagenGaleria{
    width: 240px;
    height: 240px;
}

.formulario{
    font-size: 13px;
}

.tabla{
    font-size: 09px;
    padding: 0px;
    margin: 0px;
}
}

@media screen and (min-width:577px) and (max-width: 1199px) {

    #grilla{
    grid-template-columns: 2fr;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 10px;
    height: 100vh;
}   
header{
    grid-area: cabecera;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.logo{
    width: 60px;
    height: 60px;
}
h1{
    text-decoration: underline;
    font-size: 18px;
    margin-left: 10px;
}

.cabecera{
    background-color: darkmagenta;
    color: white;
}


.navLinks{
    background-color: rgb(222, 149, 224);
    display: flex;
    flex-wrap: wrap;
    padding: 02px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border-style: none;
    padding: 03px;
}

nav ul{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 250px;
    list-style: none;
    margin: 0%;
    padding: 05px;
    border-style: none;
    height: 55px;

}

.principal{
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.principal__preview{
    border: none;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 05px;
    width: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.preview__imagen{
    width: 150px;
    height: 150px;
}


.preview__contenido{
    background-color: black;
    color: white;
    font-size: 15px;
    text-align: center;
}

.boton{
    background-color: blueviolet;
    color: pink;
    border: solid;
    border-radius: 2px;
    padding: 10px;
    font-weight: bold;
}


.pieDePagina{
    font-size: 15px ;
    padding: 10px;
}

.biografia{
        display: flex;
        flex-direction: column;
        text-align: center;
        border: none;
        font-size: 30px;
        font-weight: bold;
}

.imagenGaleria{
    width: 340px;
    height: 340px;
}

.formulario{
    font-size: 13px;
}

.tabla{
    font-size: 15px;
    padding: 10px;
    margin: 10px;
}
} *//*# sourceMappingURL=styles.css.map */