*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: pink;
   
}

header{
    grid-area: cabecera;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

h1{
    text-decoration: underline;
    font-size: 50px;
}

.cabecera{
    background-color: darkmagenta;
    color: white;
}

nav{
    border-style: solid;
    border-radius: 05px;
    border-color: fuchsia;

}

.navLinks{
    background-color: rgb(222, 149, 224);
    padding: 08px;
    border-style: solid;
    border-radius: 05px;
    border-color: fuchsia;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.5s;
}

.navLinks:hover{
    padding: 20px;
    background-color: black;
    color:white
}


nav ul{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 900px;
    list-style: none;
    margin: 0%;
    padding: 30px;
    border-style: none;

}

.principal{
    grid-area: main;
    background-color: grey;
    border-style: solid;
    border-radius: 20px;
}

.principal__titulo{
    text-decoration: underline;
    font-size: 40px;
    padding-top: 20px;
    border: none;
    text-align: center;
}
.principal__parrafo{
    font-size: 30px;
    padding-top: 5%;
    padding-bottom: 25%;
    border: none;
    margin-left: 30px; 
    text-align: center;
}

.pieDePagina{
    grid-area: footer;
    background-color: black;
    color: white;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 20px;
}

.pieDePagina__link{
   background-color: black;
   color: white;
}

.formulario{
    text-align: center;
    font-weight: bold;
}

.mainFotos{
    text-align: center;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

.tabla{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-weight: bold;
    padding: 60px;
    font-size: 30px;
}

#grilla{
    display: grid;
    grid-template-areas: 
     "cabecera"
     "main"
     "footer";
     grid-template-rows: 1fr 3fr 1fr;
     grid-template-columns: auto;
     grid-row-gap: 20px;
     height: 100vh;

}
@media screen and (min-width:320px) and (max-width: 1200px) {

    #grilla{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 10px;
    height: 100vh;
}   
header{
    grid-area: cabecera;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.logo{
    width: 60px;
    height: 60px;
}
h1{
    text-decoration: underline;
    font-size: 18px;
    margin-left: 10px;
}

.cabecera{
    background-color: darkmagenta;
    color: white;
}


.navLinks{
    background-color: rgb(222, 149, 224);
    display: flex;
    flex-wrap: wrap;
    padding: 02px;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border-style: none;
    padding: 03px;
}

nav ul{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    width: 250px;
    list-style: none;
    margin: 0%;
    padding: 05px;
    border-style: none;
    height: 55px;

}

.principal__titulo{
    font-size: 30px;
}
.principal__parrafo{
    font-size: 20px;
    text-align: center;
    margin: 0%;
}

.pieDePagina{
    font-size: 15px ;
    padding: 10px;
}

#parrafoBiografia{
    font-size: 15px;
    padding: 10px;
}

.imagenGaleria{
    width: 240px;
    height: 240px;
}

.formulario{
    font-size: 13px;
}

.tabla{
    font-size: 09px;
    padding: 0px;
    margin: 0px;
}
}