body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-image: url(../imagenes/fondo.jpg) 
}

@import "./partials/mixins";
@import "./partials/botones";
@import "./partials/galeria";
@import "./partials/formulario";
@import "./partials/tabla";
@import "./partials/biografia";
@import "./partials/extends";
@import "./partials/maps";
@import "./partials/header";
@import "./partials/main";
@import "./partials/foooter";



 #grilla{
    display: grid;
    grid-template-areas: 
     "cabecera"
     "main"
     "footer";
     grid-template-rows: 20% auto 20%;
     grid-template-columns: 1fr;
     grid-row-gap: 20px;
     height: 100vh;
}

@media screen and (min-width: 320px) and (max-width: 580px){

    #grilla{
        display: grid;
        grid-template-areas: 
         "cabecera"
         "main"
         "footer";
         grid-template-rows: repeat(3,1fr);
         grid-template-columns: 1fr;
         grid-row-gap: 20px;
         height: 100vh;
    }       
}